.panel-container {
  border: var(--card-border);
}
.page-body-sub-item-wrapper {
  min-height: calc(100vh - 66px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
}

pre {
  font-size: 0.8rem;
}

.content-wrapper {

}

.languages + .items + .main-panel{
  width: calc(100% - 380px);
}
.next-menu {
  padding-left: 5px !important;
  padding-right: 5px !important;
  background-color: #2f3136 !important;

  &.languages {
    width: 150px;
    background-color: #25272b !important;
  }

  .search-container {
    padding: 10px 10px 10px 10px;
  }

  .search {
    height: 20px;
    width: 100%;

    .search-icon {
      font-size: 12px;
      border-radius: 10px;
      color: #8f8f8f;
      position: absolute;
      top: 0;
      right: 5px;
      text-align: center;
      cursor: pointer;
    }

  }

  &.items {
    background-color: #2f3136  !important;
  }
  .next-menu-title {
    font-size: 12px;
    color: #c7c2c2;
    //opacity: .3;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: opacity .15s ease;
    transition: opacity .15s ease;
    padding: 9px 20px;
    display: block;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .item {
    //white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #72767d;
    padding: 10px 0px 10px 25px;
    cursor: pointer;

    &:hover {
      background: #292B2F;
    }
  }
}

.badge-soft-success {
    color: #0c9!important;
    background-color: #ccf5eb!important;
}

.badge {
  font-size: 90%;
}

.card {
  background: var(--card-background);
  border: var(--card-border);
  box-shadow: var(--card-box-shadow);

  a {
    color: var(--card-hyperlink);
  }

  h1 {
    line-height: 1.2;
    margin-bottom: .5rem;
    font-size: 1.3rem;
    color: var(--card-h1-color);
  }

  .text-muted {
    color: var(--card-p-color);
  }

  .text-center {
    .avatar-lg {
        width: 4rem;
        height: 4rem;
    }
  }

  .body {
    padding: 20px;
  }

  .title {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: var(--card-header-title);
  }

  .center {
    text-align: center;
  }

  .amount {
    font-size: 2.25rem;
  }
}

.card-header {
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  color: inherit;
  border-bottom: 0 solid rgba(0,0,0,.125);
  background-color: var(--card-header-background);
}

.card:hover {
  box-shadow: var(--card-box-shadow-hover);
}

.card.header {
  margin-bottom: 30px;
}

.card.warning {
  background-color: #f9d00d;
}

.card.info {
  background-color: #1cbfd0;
}

.card.success {
  background-color: #28a745;
}

.card.danger {
  background-color: #ef553a;
}

.card.warning, .card.danger, .card.info, .card.success {
  color: #FFF;
  h1, h2, h3, h4, h5, h6 {
    color: #FFF;
  }
}
