
.badge-soft-success {
    color: #0c9!important;
    background-color: #ccf5eb!important;
}

.card {
  background: var(--card-background);
  border: var(--card-border);
  box-shadow: var(--card-box-shadow);

  a {
    color: var(--card-hyperlink);
  }

  h1 {
    line-height: 1.2;
    margin-bottom: .5rem;
    font-size: 1.3rem;
    color: var(--card-h1-color);
  }

  .text-muted {
    color: var(--card-p-color);
  }

  .text-center {
    .avatar-lg {
        width: 4rem;
        height: 4rem;
    }
  }

  .body {
    padding: 20px;
  }

  .title {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: var(--card-header-title);
  }

  .center {
    text-align: center;
  }

  .amount {
    font-size: 2.25rem;
  }
}

.card-header {
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  color: inherit;
  border-bottom: 0 solid rgba(0,0,0,.125);
  background-color: var(--card-header-background);
}

.card:hover {
  box-shadow: var(--card-box-shadow-hover);
}

.card.header {
  margin-bottom: 30px;
}

.card.warning {
  background-color: #f9d00d;
}

.card.info {
  background-color: #1cbfd0;
}

.card.success {
  background-color: #28a745;
}

.card.danger {
  background-color: #ef553a;
}

.card.warning, .card.danger, .card.info, .card.success {
  color: #FFF;
  h1, h2, h3, h4, h5, h6 {
    color: #FFF;
  }
}
