.navbar {
  box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
  display: flex;
  padding: 1.5rem 60px 1.5rem 0;
  background: var(--top-menu-background);
  height: 65px;
}

.search {
  background: var(--form-control-background);
  position: relative;
  width: 230px;
  height: 40px;
  //border: var(--form-control-border);
  border-radius: 5px;
  margin-right: 5px;

  input {
    border: initial;
    background: transparent;
    outline: initial!important;
    padding: .5rem 1rem;
    background-color: hsla(0,0%,100%,.1);
    width: 100%;
    height: 100%;
  }
}

.navbar .search .search-icon {
  font-size: 17px;
  border-radius: 10px;
  color: #8f8f8f;
  position: absolute;
  width: 50px;
  height: 40px;
  bottom: -8px;
  right: 3px;
  text-align: center;
  cursor: pointer;
}

.navbar .navbar-logo {
  width: 110px;
  height: 35px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #C7C2C2;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.075em;
}

.collapse-topMenu {
  width: 75px;
  text-align: center;
  vertical-align: middle;

  i {
    color: var(--top-menu-collapse-color);
  }
}
