.main-panel {
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 180px);
  min-height: calc(100vh - 63px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  &.big {
    width: calc(100% - 21px);
  }

  &.small {
      width: calc(100% - 234px);
  }
}
