.status {
    background: #ff5a6e;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 5px;
}

.item-name {
    padding-left: 10px;
    width: 85%;
}

.item-row-container {
    display: flex;
}
