.status {
    background: #ff5a6e;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 5px;
}

.item-name {
    padding-left: 10px;
    width: 85%;

    .active {
        background: var(--side-menu-1-background-hover);
    }
}

.item-row-container {
    display: flex;
}
